@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dropdown-menu a:hover{
    background-color: white;
    color: #362c2c !important;
    
}
 
.navbar{
    background-color: #000000; 
    font-family: 'Roboto', sans-serif;
     width: 100%;
     /* position: fixed;
     top: 0; */
    
}
.collapse{
    z-index: 1;
}
.navbar a{
    color: white !important;
}
.navbar a:hover{
    color: #ff0000 !important;
    font-size: 20px;
}
.navbar-nav .nav-item button{
    background-color:#F4C711 !important;
    color: white;
    border-radius: 100px;
    border: none;
}

.textLEAD{
    max-height: 100px;
}
.textLEAD img{
    height: 70px;
    
}

.wordfortoday{
    background:  linear-gradient(106.548deg,rgb(250,204,20,0.8)0.51%,rgb(250,204,20,0.9)100%),url(/images/39-393799_world-map-clipart-vector-map-of-the-world.png)no-repeat center center/cover;
}


.carousel-item::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    background: rgba(216, 215, 231, 0.5) !important;
    filter: blur(3px);
}

@media screen and (min-width : 1024px)
{
    .carousel-inner{
    background: rgba(201, 165, 236, 0.5) !important;
    height: 65vh !important;
} 
}
@media screen and (max-width : 720px){
    .textLEAD img{
        height: 50px;
        
    }
    .wordfortoday h3{
        font-size: 20px;
    }
}

.second_background{
    
    background-color: white !important; 
    padding: 30px 0;  
}
.second_background h1{
    margin-top: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
@media screen and (max-width : 720px){
    .second_background h1{
        margin-top: 0;
    }
    .second_background .cont{
        margin-top: 20px;
    }
}

 .second_background img{
    width: 100%;
} 
.cont{
    margin-top: 5rem;
}
.col_sm_style{
    text-align: justify;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.announcement{
    background-color: #000000;
    padding: 50px 0px;
}
.text-white{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.newsletter{

  background:  linear-gradient(106.548deg,rgba(0,0,0,0.7)0.51%,rgba(0,0,0,0.8)100%),url(/images/39-393799_world-map-clipart-vector-map-of-the-world.png)no-repeat center center/cover;
}
.newsletter h3{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.newsletter form button{
    background-color: rgb(255, 136, 0);
    
}
.newsletter p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width:400px){
    .col_sm_style{ 
        width: 270px;
        font-size: 15px;
    }
   
    .second_background h1{
        font-size: 15px;
    }

    .carousel {
        width: 100%;
    }

}
body{
    height: 100vh;
}
.secondfooter p{
    font-size: 20px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* color: #C48551; */
    
    
}
.firstfooter{
    background-color: #F5F5F5;
   /* background:  linear-gradient(106.548deg,rgba(0,0,0,0.9)0.51%,rgba(0,0,0,0.9)100%),url(/images/world-map-stock-photography-vector-map-png-favpng-5sW4DhMvpvEw2ev3TSH0rLsG0.jpg)no-repeat center center/cover; */

}
.firstfooter .logostyle2{
    width: 15%;
}
.firstdiv {
    /* color: white; */
    color: #1F1F1F;
    justify-content: justify;
    font-family: 'Montserrat', sans-serif;
}
.secondfooter{
    background-color: #660000;  
    /* background-color: #f5f5f5; */
    
}
.seconddiv{
    /* color: rgba(255, 136, 0, 0.89);
    color: #87E68F; */
    color: #1F1F1F;
    justify-content: justify;
    font-family: 'Montserrat', sans-serif;

}
.seconddiv h2{
     /* color: #87E68F;  */
     color: #1F1F1F;
    font-family: 'Poppins', sans-serif;
    
}
.thirddiv h5{
    color: #1F1F1F;
    /* color: white; */
    font-family: 'Montserrat', sans-serif;
}
.thirddiv li a{
    /* color: white; */
    color: #1F1F1F;
}
.thirddiv li a:hover{
    background-color:black ;
    color:white;
    padding: 5px;
    transition: all 1.2s ease-out; 
}
@media screen and (max-width:720px){
    .firstfooter .firstdiv img{

    width: 20%; 
    }
    
    } 


.wordfortoday{
    font-family: 'Poppins', sans-serif;
}
.wordfortodaytext1{
    font-size: 50px;
    
}
.wordfortodaytext2{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
   
}
@media screen and (min-width:720px){
    .thirddiv{
        justify-content: end;
    }
}
