@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dropdown-menu a:hover{
    background-color: white;
    color: #362c2c !important;
    
}
 /* .navbar-brand{
    font-size: 40px !important;
} */
.navbar{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    /* width: 100%; */
    /* position: fixed !important;
    top: 0; */
    /* z-index: 2; */
}
.collapse{
    z-index: 1;
}
.navbar a{
    color: white !important;
}
.navbar a:hover{
    color: #ff0000 !important;
    font-size: 20px;
}
.navbar-nav .nav-item button{
    background-color:#ff0000 !important;
    color: white;
    border-radius: 100px;
    border: none;
}

.textLEAD{
    max-height: 100px;
}
.textLEAD img{
    height: 70px;
    animation: logo 2s ease infinite;
}
/* @keyframes logo{
    from{
        height: 70px;
        
    }
    to{
        height: 50px;
    }
} */

.carousel-item::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    background: rgba(216, 215, 231, 0.5) !important;
    filter: blur(3px);
}

@media screen and (min-width : 1024px)
{
    .carousel-inner{
    background: rgba(201, 165, 236, 0.5) !important;
    height: 65vh !important;
} 
}
@media screen and (max-width : 720px){
    .textLEAD img{
        height: 50px;
        /* animation: logo 3s ease infinite; */
    }
}

        /* section of ministers */
/* body{ */
    /* background: url("/images/caclogo.png")no-repeat center center ; */
/* } */
.second_background{
    /* background: url("/images/caclogo.png")no-repeat center center ; */
    /* height: 100vh; */
    background-color: white !important; 
    padding: 30px 0;  
}
.second_background h1{
    margin-top: 3rem;
    text-align: center;
    
}

.second_background img{
    width: 80%;
}
.cont{
    margin-top: 5rem;
}
.col_sm_style{
    text-align: justify;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}


.announcement{
    background-color: #000000;
    padding: 50px 0px;
}
.text-white{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: rem;
}
.newsletter{
    height: 50vh;
    background-color: #FAFAFA;
}
@media screen and (max-width:400px){
    .col_sm_style{ 
        width: 270px;
        font-size: 15px;
    }
   
    .second_background h1{
        font-size: 15px;
    }

    .carousel {
        width: 80%;
    }

}
