.header h2{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.prayfirsttext p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.praytestform{
    font-family: 'Poppins', sans-serif;
}
.praytextform button{
     font-size: 20px; 
    
}
 .praytextform label{
    font-weight: bold;
} 
.studreg .form-control{
    margin-bottom: 1rem;
}
@media screen and (max-width : 720px){
    .header h2{
        font-size: 30px;
    }
}